.h2 {
    text-align: center;
    margin: 20px 20px 0px 0px;
}

.nav-pills {
    margin-top: 50px;
}

.finish_page {
    margin: 0 auto;
    visibility: hidden;
}

.Highscore {
    margin: 0 auto;
    visibility: hidden;
}